*{
    margin: 0px;
    padding: 0px;
}

body{
    width: 1920px;
    height: 1080px;
    background-color: black;
}

h1 {
    background-color: black;
    color: white;
    text-align: center;
    font-size: 70px;
    height: 100px
}

.con{
    background-color:  rgb(222, 239, 245);
    border: 2px solid black;
    padding: 50px;
    width: 600px;
}

.background{
    width: 1920px;
    height: 1080px;
    padding-top: 40px;
    background: url("/static/images/valley.jpg");
    background-size: 1920px 1080px;
    background-repeat: no-repeat;
}

.main_div {
    width: 600px;
}