<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">
    <title>Dashboard</title>
    <style>
        .main_con {
            margin-top: 15px;
        }

        .tab_style {
            border: 1px solid black;
            width: 450px;
        }

        th,
        td {
            border: 1px solid black;
        }

        .show_time {
            margin: 50px;
        }

        .log_tab_style {
            width: 350px;
        }

        .div_margin {
            margin-top: 40px;
        }

        .button {
            background-color: black;
            border: none;
            color: white;
            padding: 2px 15px 3px 15px;
            text-align: center;
            text-decoration: none;
            display: inline-block;
            font-size: 30px;
            margin: 4px 2px;
            cursor: pointer;
            border-radius: 50%;
        }
    </style>
</head>

<body>
    <div class="container-xxl main_con">
        <div class="d-flex justify-content-between">
            <h2>Welcome User</h2>
            <a href="/logout" class="btn btn-primary">Logout</a>
        </div>
        <div class="d-flex justify-content-between">
            <div style="margin-top: 10px;">
                <p>Your goals:</p>
                <table class="table table-striped tab_style">
                    <thead class="table-secondary">
                        <tr>
                            <th scope="col">Category</th>
                            <th scope="col">Amount Spent</th>
                            <th scope="col">Balance</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>Mark</td>
                            <td>Otto</td>
                            <td>@mdo</td>
                        </tr>
                        <tr>
                            <td>Mark</td>
                            <td>Otto</td>
                            <td>@mdo</td>
                        </tr>
                        <tr>
                            <td>Mark</td>
                            <td>Otto</td>
                            <td>@mdo</td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div class="show_time">
                <p>Plan start time: 12/20/2020, midnight</p>
                <p>Time remaining this week 6 day, 6 hours, 20 minutes</p>
            </div>
        </div>
        <div>
            <p>Transactions:</p>
            <table class="table table-striped">
                <thead class="table-secondary">
                    <tr>
                        <th scope="col">Category</th>
                        <th scope="col">Date</th>
                        <th scope="col">Amount</th>
                        <th scope="col">Description</th>
                        <th scope="col">Planned?</th>
                        <th scope="col">Happiness Impact</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>Mark</td>
                        <td>Otto</td>
                        <td>@mdo</td>
                        <td>@mdo</td>
                        <td>@mdo</td>
                        <td>@mdo</td>
                    </tr>
                    <tr>
                        <td>Mark</td>
                        <td>Otto</td>
                        <td>@mdo</td>
                        <td>@mdo</td>
                        <td>@mdo</td>
                        <td>@mdo</td>
                    </tr>
                    <tr>
                        <td>Mark</td>
                        <td>Otto</td>
                        <td>@mdo</td>
                        <td>@mdo</td>
                        <td>@mdo</td>
                        <td>@mdo</td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="d-flex justify-content-between">
            <div style="width: 870px;">
                <a href="#" class="btn btn-primary">Edit Plan</a><br><br>
                <h3>Log a Purchase:</h3>
                <form action="#" method="POST">
                    <div class="d-flex justify-content-between">
                        <div>
                            <label for="date">Date</label><br>
                            <input type="date">
                        </div>
                        <div>
                            <label for="category">Category</label><br>
                            <select class="form-select" aria-label="Default select example">
                                <option selected>Open this select menu</option>
                                <option value="1">One</option>
                                <option value="2">Two</option>
                                <option value="3">Three</option>
                            </select>
                        </div>
                        <div>
                            <label for="amount">Amount Spent</label><br>
                            <input type="number" placeholder="$0.00">
                        </div>
                        <div>
                            <label for="desc">Description(Optional)</label><br>
                            <input type="textarea" name="" id="">
                        </div>
                    </div>
                    <div class="d-flex justify-content-between div_margin">
                        <div>
                            <label for="">Did you plan to spend this money?</label><br>
                            <select class="form-select" aria-label="Default select example">
                                <option selected>Option</option>
                                <option value="1">Yes</option>
                                <option value="2">No</option>
                            </select>
                        </div>
                        <div>
                            <label for="">How happy did this purchase make you?</label><br>
                            <select class="form-select" aria-label="Default select example">
                                <option selected>Option</option>
                                <option value="1">Very happy</option>
                                <option value="2">Briefly happy</option>
                                <option value="2">The same</option>
                                <option value="2">Less happy/Regret</option>
                            </select>
                        </div>
                        <button class="button">+</button>
                    </div><br>
                </form>
            </div>
            <table class="table table-striped log_tab_style">
                <thead class="table-secondary">
                    <tr>
                        <th scope="col">Past Week Goals</th>
                        <th scope="col">Result</th>
                        <th scope="col">Amount Saved/Lost</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>Mark</td>
                        <td>Otto</td>
                        <td>@mdo</td>
                    </tr>
                    <tr>
                        <td>Mark</td>
                        <td>Otto</td>
                        <td>@mdo</td>
                    </tr>
                    <tr>
                        <td>Mark</td>
                        <td>Otto</td>
                        <td>@mdo</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</body>

</html>