<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">
    
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/goals_style.css' %}">
    
    <title>Stop Spending Money: Goals</title>
    <script>
        function moveNumbers(val){
            document.getElementById("result").value=val;
        }
    </script>
</head>

<body></body>

<div class = "background">
<div class = "appWindow">
    <div class = "headerBox">
        <h1>Set Your Goals</h1>
        <div>
            <a href="/dashboard"><button class="btn btn-primary">View Dashboard</button></a>
            <a href="/"><button class="btn btn-primary">Log Out</button></a>
        </div>
    </div>

    <div class = "instructionsBox">
        <h4>Hello {{user.first_name}}! Welcome to "Stop Spending Money!"</h4>
        <br>
        <p>Use the form below to make a few goals about areas you want to stop overspending in. You can use the suggestions or make your own categories. Don't worry... you can come back to your plan and add more later! When you are done, set a start date for your plan (which could be today) and click "finish adding goals." Happy budgeting!</p>
    </div>
    <div class = "bottomLeftContent">
        <div class = "categoryBox">
            <h2>Choose one or more goals for areas that you want to save money.</h2>
            <button class="btn btn-primary" value="Coffee/Tea" onclick="moveNumbers(this.value)">Coffee/Tea</button>
            <button class="btn btn-primary" value="Fast Food/Restaurants" onclick="moveNumbers(this.value)">Fast Food/Restaurants</button>
            <button class="btn btn-primary" value="Alcohol" onclick="moveNumbers(this.value)">Alcohol</button>
            <button class="btn btn-primary" value="Entertainment" onclick="moveNumbers(this.value)">Entertainment</button>
            <button class="btn btn-primary" value="Books" onclick="moveNumbers(this.value)">Books</button>
            <button class="btn btn-primary" value="Snacks/Dessert" onclick="moveNumbers(this.value)">Snacks/Dessert</button>
            <button class="btn btn-primary" value="Amazon.com" onclick="moveNumbers(this.value)">Amazon.com</button>
            <button class="btn btn-primary" value="Leisure Shopping" onclick="moveNumbers(this.value)">Leisure Shopping</button>
        </div>
        
        <div class = "goalsBox">
            <form action="goals/add_goal", method="POST">
                {% csrf_token %}
                <label for="">Category Chosen (Or Enter Your Own)</label>
                <input type="text" name="category" id="result" class="wideInput">
                <label for="">How much do you want to spend per week on this category?</label>
                <input type="text" name="amount" id="" class="wideInput">
                <br>
                <button class="btn btn-primary add_circle_button" action="submit">+</button>
                <p>Add this goal</p>
            </form>
            <form action="goals/add_start_date" id="add_start_date_form" style = "margin-top: 200px" method = "POST">
                {% csrf_token %}
                <div style="margin-right: 20px">
                    <label for="start_date">Pick a start date to work on all of your goals:</label>
                    <input type="date" name="selected_date">
                    <button class="btn btn-primary" action = "submit">Add Date</button>
                </div>
            </form>
            <a href="/dashboard"><button class="btn btn-primary" style = "height: 60px; width: 280px; margin: 40px 0px 0px 270px; background-color: black; border-color: black;">Finish Adding Goals</button></a>
        </div>
    </div>

    <div class = "bottomRightContent">
        <h2>Goals List:</h2>
        {% if valid_start == 0 %}
        <p style = "color:blue">Please pick a start date for your goals.</p>
        {% else %}
        <p>Start Date: {{user.plan_start_date}}</p>
        {% endif %}
        <table class = "table table-striped">
            <th>Category</th>
            <th>Goal</th>
            <th>Activity</th>
            {% for goal in user_goals %}
            <tr>
                <td>{{goal.category}}</td>
                <td>{{goal.amount}}</td>
                <td><a href="goals/delete_goal/{{goal.id}}">Delete</a></td>
            </tr>
            {% endfor %}
        </table>
    </div>
</div>
</div>

</body>

</html>