<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/goals_style.css' %}">
    
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">
    <title>Stop Spending Money: Goals</title>
</head>

<body>
<div class = "appWindow">
    <div class = "headerBox">
        <h1>Set Your Goals</h1>
        <div>
            <button>View Dashboard</button>
            <button>Log out</button>
        </div>
    </div>

    <div class = "instructionsBox">
        <h4>Welcome to "Stop Spending Money!"</h4>
        <br>
        <p>Use the form below to make a few goals about areas you want to stop overspending in. You can use the suggestions or make your own categories. Don't worry... you can come back to your plan and add more later! When you are done, set a start date for your plan (which could be today) and click "finish adding goals." Happy budgeting!</p>
    </div>
    <div class = "bottomLeftContent">
        <div class = "categoryBox">
            <h2>Choose one or more goals for areas that you want to save money.</h2>
            <button>Coffee/Tea</button>
            <button>Fast Food/Restaurants</button>
            <button>Alcohol</button>
            <button>Entertainment</button>
            <button>Books</button>
            <button>Snacks/Dessert</button>
            <button>Amazon.com</button>
            <button>Leisure Shopping</button>
        </div>
        
        <div class = "goalsBox">
            <form action="">
                <label for="">Category Chosen (Or Enter Your Own)</label>
                <input type="text" name="category" id="" class="wideInput">
                <label for="">How much do you want to spend per week on this category?</label>
                <input type="text" name="goalAmount" id="" class="wideInput">
                <br>
                <a href="#" class="btn btn-primary add_circle_button">+</a>
                <p>Add this goal</p>
            </form>
            <form action="" id="finishAddingGoals">
                <button>Finish Adding Goals</button>
                <div style="margin-right: 20px">
                    <label for="start_date">Pick a start date for your plan:</label>
                    <input type="date">
                </div>
            </form>
        </div>
    </div>

    <div class = "bottomRightContent">
        <h2>Goals List:</h2>
        <table class = "table table-striped">
            <th>Category</th>
            <th>Goal</th>
            <th>Activity</th>
            <tr>
                <td>Coffee/Tea</td>
                <td>$15</td>
                <td>DELETE</td>
            </tr>
        </table>
    </div>
</div>


</body>

</html>